/*Estilização do modal de Cadastro e de Edição*/
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 30%;
}

.modalExcluir{
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 30%;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  margin-top: 10px;
}

.modal input,
.modal select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal button {
  width: 10vw;
  margin-left: 180px;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background 0.3s;;

  &:hover{
    transform: scale(1.1);
  }
}

.modal button[type="submit"] {
  background: #0096c7;
  color: white;
}

.modal button[type="button"] {
  margin-top: 5px;
  background: #d9534f;
  color: white;
}

/*Fim da Estilização do modal de Cadastro e Edição*/

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 70vw;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#btnNovoDocente{
  font-size: 20px;
  margin-right: 20px;
  background: #023e8a;
  color: white;
  padding: 20.5px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover{
      background-color:#0096c7;
  }
}

.mais{
  padding: 0;
  width: 20px;
  height: 19px;
  margin-right: 10px;
}

/* Estilo botao editar */
.imgEditar{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.divOverlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}


#btnEditar{
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin-left: 17px;
  transition: 0.1s;
  
}

#btnEditar:hover .divOverlay{
  background-color: rgba(0, 0, 0, 0.3);
}
/* Fim estilo botao editar */

/* Estilo botao excluir */
.imgLixo{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

#btnLixo{
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 10px;
  transition: 0.1s;
  
}

#btnLixo:hover .divOverlay{
  background-color: rgba(0, 0, 0, 0.3);
}

/* Fim estilo botao excluir */


.btnLixo{
  padding: 0;
  width: 20px;
  height: 20px;
  margin-left: 17px;
}

/* Caixa de Pesquisa */
.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
}

#searchInput {
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  margin-left: 48vw;
  width: 15vw;
  text-indent: 10px;
}

.search{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#btnPesquisar {
  width: 160px;
  padding: 12px 15px;
  background: #023e8a;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  font-size: 20px;
  color: white;
  &:hover{
    background-color: #0096c7;
  }
}

/* Fim Caixa de Pesquisa */

#btnCancelar{
  font-size: 20px;
  background: #c00002;
  color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 5px;
  border-style: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover{
    background-color:#e83333;
  }
}

#btnExcluir{
  font-size: 20px;
  width: 6vw;
  background: #006A4E;
  color: white;
  padding: 20px;
  margin-left: 6vw;
  margin-right: 5vw;
  border-radius: 5px;
  margin-top: 5px;
  border-style: none;
  cursor: pointer;
  transition: 0.2s;

  &:hover{
    background-color:#1CAC78;
  }
}

.modal .input-error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

.alert{
  padding: 0;
  width: 20vw;
  margin-left: 80px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.pErro{
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.logo{
  width: 200px;
  height: 75px;
  position: absolute;
  right: 15vw;
}

.hidden {
  display: none;
}

h1, h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff; 
}

#containerTable{
  overflow-y: auto;
  width: 100%;
  height: 71vh;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #ffffff; 
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody{
  overflow:auto;
}